<div class="jumbotron text-center">

  <h1>Welcome!</h1>

</div>
<div class="jumbotron text-center">

  <h1>Checking to see how things work.</h1>

</div>
<div class="jumbotron text-center">

  <h1>Thats pretty cool!</h1>

</div>
