/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: orange;
}

.body_1 {
  /*border: solid;*/
  /*background-color: lightblue;*/
  /*padding: 1.5em;*/
  margin: 1.5em;
  background-color: white;
}

.header_0 {
  background-color: black;
}

.header_1 {
  /*border: solid;*/
  background-color: teal;
  height: 50px;
  color: white;
  font-style: italic;
  font-size: 20px;
  text-align: center;
  margin-bottom: 1em;
  padding-top: .5em;
}
.footer_1 {
  /*border: solid;*/
  height: 100px;
  color: black;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.header_2 {
  border: solid;
  /*background-color: white;*/
  height: 300px;
  text-align: right;
}

.header_2 {
  text-align: center;
}


.side_1 {
  border: solid;
  float: left;
  padding: 2em;
}
.main_1 {
  border: solid;
  float: left;
  padding: 1em;
}

.dropdown {
  
}
