<!DOCTYPE html>
<html>
  <head>
    <title>Landing Page</title>
    <%= csrf_meta_tags %>

    <!-- bootstrap link vvv -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- angularjs link vvv -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

  </head>

  <body>
    <!-- angularjs -->
    <div ng-app="">
      <%= yield %>
    </div>
  </body>
</html>
